In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

# Лист 03

## Задача 1.1.1

In [37]:
check = '''
sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 '''

In [38]:
df=pd.read_csv(io.StringIO(check), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [39]:
df['y_pred']= 3525.14+(-0.16 )*df['totwrk']+(1.62)*df['age']+(51.84)*df['male']+(-9.88)*np.log(df['hrwage'])
df

   sleep  totwrk  age  male  hrwage       y_pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [40]:
df['residual']=df['sleep']-df['y_pred']
df. round (2)

   sleep  totwrk  age  male  hrwage   y_pred  residual
0   3113    3438   32     1    7.07  3059.42     53.58
1   2920    5020   31     1    1.43  2820.47     99.53
2   2670    2815   44     1   20.53  3168.00   -498.00
3   3083    3786   30     0    9.62  2945.61    137.39
4   3448    2580   64     1    2.75  3257.87    190.13
5   4063    1205   41     1   19.25  3421.38    641.62

## Задача 1.1.2

In [31]:
check = '''
output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46 '''

In [32]:
df=pd.read_csv(io.StringIO(check), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [33]:
df['y_pred']= -1.71+(0.21 )*np.log(df['capital'])+(0.71)*np.log(df['labour'])
df

   output  capital  labour    y_pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [35]:
df['residual']=np.log(df['output'])-df['y_pred']
df. round (2)

   output  capital  labour  y_pred  residual
0    9.25     2.61     184    2.19      0.03
1    3.66     1.32      91    1.55     -0.25
2   28.78    22.09     426    3.24      0.12
3    4.12    10.74      72    1.82     -0.41
4    2.89     1.16      46    1.04      0.02

## Задача 1.2.1

In [49]:
TSS = 100.35
ESS = 47.56
RSS = TSS-ESS
RSS
round (RSS,2)

52.79

In [50]:
R2=ESS/TSS
round (R2,2)

0.47

## Задача 1.2.2

In [45]:
TSS = 240.82
RSS = 93.52
ESS = TSS-RSS
ESS

147.3

In [46]:
R2=ESS/TSS
round (R2,2)

0.61

## Задача 1.2.3

In [47]:
ESS=418.38
RSS=782.83
TSS=ESS+RSS
TSS

1201.21

In [48]:
R2=ESS/TSS
round (R2, 2)

0.35

## Задача 1.2.4

In [10]:
ostatki='''RSS 
-0.24  
0.41  
1.22 
-0.93 
-0.37 
-1.33  
0.16 
-0.27  
0.06  
1.29'''

In [13]:
df= pd.read_csv(io.StringIO(ostatki), sep='\s+')
df

    RSS
0 -0.24
1  0.41
2  1.22
3 -0.93
4 -0.37
5 -1.33
6  0.16
7 -0.27
8  0.06
9  1.29

In [14]:
df ['RSS']

0   -0.24
1    0.41
2    1.22
3   -0.93
4   -0.37
5   -1.33
6    0.16
7   -0.27
8    0.06
9    1.29
Name: RSS, dtype: float64

In [40]:
RSS = np.sum(df['RSS']**2)
round (RSS,2)

6.25

$$
S^2=\frac{(RSS)}{(n-m)}
$$

In [70]:
RSS=6.25
n=10
m=3

In [71]:
S2=RSS/(n-m)
round (S2,2)

0.89

$$
SER = \sqrt{S^2}
$$

In [42]:
SER=np.sqrt(S2)
round (SER,2)

0.88

## Задача 1.2.5

In [43]:
sleep75 = '''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''

In [54]:
df= pd.read_csv(io.StringIO(sleep75), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [45]:
df['sleep/60']

0    51.88
1    48.67
2    44.50
3    51.38
4    57.47
5    67.72
6    53.00
7    48.80
8    56.13
9    50.30
Name: sleep/60, dtype: float64

In [46]:
df['sleep/60'].mean()

52.985

In [47]:
TSS = np.sum( (df['sleep/60']-df['sleep/60'].mean())**2 )
round (TSS,2)

366.26

In [48]:
ESS = np.sum( (df['y.hat']-df['sleep/60'].mean())**2 )
round (ESS,2)

173.19

In [52]:
RSS = np.sum( (df['y.hat']-df['sleep/60'])**2 )
round (RSS,2)

193.14

## Задача 1.2.6

In [53]:
labour = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40'''

In [55]:
df= pd.read_csv(io.StringIO(labour), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [56]:
TSS = np.sum( (df['log(output)']-df['log(output)'].mean())**2 )
round (TSS,2)

24.48

In [57]:
ESS = np.sum( (df['y.hat']-df['log(output)'].mean())**2 )
round (ESS,2)

24.25

In [58]:
RSS = np.sum( (df['y.hat']-df['log(output)'])**2 )
round (RSS,2)

0.29

## Задача 1.2.7

$$
S^2=SER^2
$$

In [65]:
SER=0.378
S2=SER**2
round (S2,3)

0.143

$$
RSS=S^2*(n-m)
$$

In [67]:
n=935
m=6
RSS = S2*(n-m)
round (RSS,3)

132.739

## Задача 1.2.8

$$
S^2=SER^2
$$

In [72]:
SER=0.383
S2=SER**2
round (S2,3)

0.147

$$
RSS=S^2*(n-m)
$$

In [73]:
n=935
m=5
RSS = S2*(n-m)
round (RSS,3)

136.421

$$
\frac{RSS}{TSS}=1-R^2
$$

$$
TSS=\frac{RSS}{1-R^2}
$$

In [76]:
RSS=136.421
R2=0.178
TSS = RSS/(1-R2)
round (TSS,3)

165.962

## Задача 1.2.9

$$
S^2=SER^2
$$

In [77]:
SER=0.389
S2=SER**2
round (S2,3)

0.151

$$
RSS=S^2*(n-m)
$$

In [79]:
n=935
m=4
RSS = S2*(n-m)
round (RSS,3)

140.88

$$
\frac{RSS}{TSS}=1-R^2
$$

$$
TSS=\frac{RSS}{1-R^2}
$$

In [80]:
RSS=140.88
R2=0.149
TSS = RSS/(1-R2)
round (TSS,3)

165.546

$$
ESS=TSS-RSS
$$

In [82]:
RSS=140.88
TSS=165.546
ESS=TSS-RSS
round (ESS,3)

24.666

## Задача 2.1

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-m)}
$$

In [83]:
n=526
m=6
R2=0.288

In [85]:
R2adj=1-(1-R2)*(n-1)/(n-m)
round (R2adj, 3)

0.281

## Задача 2.2

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-m)}
$$

In [87]:
n = 935
m = 7
R2 = 0.201

In [88]:
R2adj=1-(1-R2)*(n-1)/(n-m)
round (R2adj, 3)

0.196

## Задача 2.3

In [95]:
check = '''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''

In [96]:
df=pd.read_csv(io.StringIO(check), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [97]:
df['sleep/60']

0    51.88
1    48.67
2    44.50
3    51.38
4    57.47
5    67.72
6    53.00
7    48.80
8    56.13
9    50.30
Name: sleep/60, dtype: float64

In [98]:
df['sleep/60'].mean()

52.985

In [99]:
TSS = np.sum( (df['sleep/60']-df['sleep/60'].mean())**2 )
round (TSS, 2)

366.26

In [100]:
ESS = np.sum( (df['y.hat']-df['sleep/60'].mean())**2 )
round (ESS,2)

173.19

$$
R^2=\frac{ESS}{TSS}
$$

In [101]:
R2=ESS/TSS
R2
round (R2,2)

0.47

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-m)}
$$

In [104]:
n = 10
m = 3 
R2 = 0.47

In [105]:
R2adj=1-(1-R2)*(n-1)/(n-m)
round (R2adj, 2)

0.32

## Задача 2.4

In [107]:
check = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40'''

In [108]:
df=pd.read_csv(io.StringIO(check), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [109]:
df['log(output)']

0    2.22
1    1.30
2    3.36
3    1.42
4    1.06
5    6.17
6    0.77
7    1.42
8    0.90
9    1.35
Name: log(output), dtype: float64

In [110]:
df['log(output)'].mean()

1.9969999999999999

In [111]:
TSS = np.sum( (df['log(output)']-df['log(output)'].mean())**2 )
round (TSS, 2)

24.48

In [112]:
ESS = np.sum( (df['y.hat']-df['log(output)'].mean())**2 )
round (ESS,2)

24.25

$$
R^2=\frac{ESS}{TSS}
$$

In [113]:
R2=ESS/TSS
R2
round (R2,2)

0.99

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-m)}
$$

In [118]:
n = 10
m = 3
R2 = 0.99

In [119]:
R2adj=1-(1-R2)*(n-1)/(n-m)
round (R2adj, 2)

0.99

## Задача 3.1

In [15]:
import numpy as np # linear algebra 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# stats models: regression fitting via formulas
import statsmodels.formula.api as smf
# stats models: regression fitting via matrices of regression design
import statsmodels.api as sm

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

$$
sleep = \beta_0+\beta_1*totwrk+\beta_2*age+\beta_3*male+\beta_4*smsa
$$

In [17]:
# специфицируем модель через формулу
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+smsa', data=df).fit()
# Коэфициенты модели с округление
sleep_eq1.params.round(2)

Intercept    3494.22
totwrk         -0.17
age             2.81
male           86.91
smsa          -75.29
dtype: float64

In [18]:
df['y_pred']= 3494.22+(-0.17)*df['totwrk']+(2.81)*df['age']+(86.91)*df['male']+(-75.29)*df['smsa']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,y_pred
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,3086.59
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,2814.84
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,3150.93
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,2934.90
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,3322.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,3200.96
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,3561.92
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,3283.52
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,3312.59
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,3176.81

In [19]:
df['residual']=df['sleep']-df['y_pred']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,y_pred,residual
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,14,0,13,7.070004,1024,3086.59,26.41
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,11,0,0,1.429999,961,2814.84,105.16
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,0,2815,0,21,0,0,20.529997,1936,3150.93,-480.93
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,0,3786,0,12,0,12,9.619998,900,2934.90,148.10
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,0,2580,0,44,0,33,2.750000,4096,3322.37,125.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,0,2026,0,27,0,18,NaN,2025,3200.96,-215.96
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,1,465,210,18,0,4,NaN,1156,3561.92,-41.92
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,0,1851,0,19,0,17,NaN,1369,3283.52,226.48
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1481,480,31,0,22,NaN,2916,3312.59,-342.59
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,8,1,9,NaN,900,3176.81,-206.81

In [21]:
TSS = np.sum( (df['sleep']-df['sleep'].mean())**2 )
TSS

139239835.76345608

In [22]:
ESS = np.sum( (df['y_pred']-df['sleep'].mean())**2 )
ESS

17652892.61194448

In [24]:
RSS = np.sum( (df['y_pred']-df['sleep'])**2 )
RSS

122071076.49880001

$$
R^2=\frac{ESS}{TSS}
$$

In [25]:
R2=ESS/TSS
R2

0.1267804756817843

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-m)}
$$

In [26]:
n = 706
m = 5
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

0.12179776798239372

$$
S^2=\frac{(RSS)}{(n-m)}
$$

In [27]:
S2=RSS/(n-m)
S2

174138.48287988588

$$
SER = \sqrt{S^2}
$$

In [28]:
SER=np.sqrt(S2)
SER

417.2990329246952

## Задача 3.2

$$
sleep = \beta_0+\beta_1*totwrk+\beta_2*age+\beta_3*male+\beta_4*south, (smsa=1)
$$

In [30]:
# специфицируем модель через формулу
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+south', data=df[df['smsa']==1]).fit()
# Коэфициенты модели с округление
sleep_eq1.params.round(2)

Intercept    3460.43
totwrk         -0.18
age             2.28
male           92.65
south         168.85
dtype: float64

In [34]:
df['y_pred']= 3460.43+(-0.18)*df['totwrk']+(2.28)*df['age']+(92.65)*df['male']+(168.85)*df['south']
df['residual']=df['sleep']-df['y_pred']
df[df['smsa']==1]

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,y_pred,residual
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,0,2815,0,21,0,0,20.529997,1936,3146.70,-476.70
7,47,0,8,0.000000,0.000000,13,0,1,1,3544,...,0,3608,0,28,0,24,15.010007,2209,3010.80,-82.80
9,30,0,10,0.000000,0.000000,15,11750,1,1,4211,...,0,2851,0,9,0,7,2.959999,900,3108.30,-90.30
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,...,0,370,0,1,0,4,1.230000,529,3446.27,-151.27
12,24,0,13,0.000000,0.000000,16,1000,1,1,3844,...,0,2438,0,2,0,4,1.230000,576,3168.96,629.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,31,0,690,0.182331,0.030075,12,10500,1,0,4639,...,0,2373,0,13,0,0,NaN,961,3272.82,-204.82
693,25,1,694,0.182331,0.030075,12,3500,1,0,5530,...,1,1510,0,7,1,0,NaN,625,3245.63,-205.63
697,47,0,698,0.182331,0.030075,10,9500,1,0,5882,...,1,1183,0,31,0,28,NaN,2209,3354.65,-339.65
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,...,0,2388,0,10,0,0,NaN,1024,3272.40,-287.40
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,0,2026,0,27,0,18,NaN,2025,3198.35,-213.35

In [36]:
TSS = np.sum((df[df['smsa']==1]['sleep']-df[df['smsa']==1]['sleep'].mean())**2 )
TSS

50055043.404255316

In [39]:
ESS = np.sum( (df[df['smsa']==1]['y_pred']-df[df['smsa']==1]['sleep'].mean())**2 )
ESS

7048947.99188723

In [40]:
RSS = np.sum( (df[df['smsa']==1]['y_pred']-df[df['smsa']==1]['sleep'])**2 )
RSS

42695796.4621

In [41]:
R2=ESS/TSS
R2

0.14082393126619444

In [45]:
n = 282
m = 5
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

0.12841705662743907

In [46]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

392.6021514480794

## Задача 3.3

$$
sleep = \beta_0+\beta_1*totwrk+\beta_2*age+\beta_3*smsa+\beta_4*south, (male=1)
$$

In [48]:
# специфицируем модель через формулу
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df[df['male']==1]).fit()
# Коэфициенты модели с округление
sleep_eq1.params.round(2)

Intercept    3600.96
totwrk         -0.19
age             3.30
smsa          -77.69
south          60.11
dtype: float64

In [49]:
df['y_pred']= 3600.96+(-0.19)*df['totwrk']+(3.30)*df['age']+(-77.69)*df['smsa']+(60.11)*df['south']
df['residual']=df['sleep']-df['y_pred']
df[df['male']==1]

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,y_pred,residual
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,14,0,13,7.070004,1024,3053.34,59.66
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,11,0,0,1.429999,961,2809.57,110.43
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,0,2815,0,21,0,0,20.529997,1936,3133.62,-463.62
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,0,2580,0,44,0,33,2.750000,4096,3321.96,126.04
5,41,0,6,0.000000,0.000000,12,0,1,1,4812,...,0,0,1205,23,0,23,19.249998,1681,3507.31,555.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,50,0,693,0.182331,0.030075,12,2500,1,0,4417,...,0,2603,0,32,0,22,NaN,2500,3271.39,-211.39
694,44,0,695,0.182331,0.030075,16,16250,1,0,4539,...,0,2513,0,22,0,19,NaN,1936,3268.69,-240.69
695,29,0,696,0.182331,0.030075,16,16250,1,0,4639,...,0,2418,0,7,1,5,NaN,841,3237.24,-214.24
699,61,0,700,0.182331,0.030075,17,27500,1,0,4362,...,0,2725,0,38,0,30,NaN,3721,3284.51,-291.51
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,1,465,210,18,0,4,NaN,1156,3584.91,-64.91

In [50]:
TSS = np.sum((df[df['male']==1]['sleep']-df[df['male']==1]['sleep'].mean())**2 )
TSS

75570140.57750002

In [56]:
ESS = np.sum( (df[df['male']==1]['y_pred']-df[df['male']==1]['sleep'].mean())**2 )
ESS

12398611.3125

In [52]:
RSS = np.sum( (df[df['male']==1]['y_pred']-df[df['male']==1]['sleep'])**2 )
RSS

63460034.6462

In [53]:
R2=ESS/TSS
R2

0.16406759624569917

In [54]:
n = 400
m = 5
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

0.15560245797983285

In [55]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

400.8220497427755

## Задача 3.4

$$
sleep = \beta_0+\beta_1*totwrk+\beta_2*age+\beta_3*smsa+\beta_4*south, (male=0)
$$

In [57]:
# специфицируем модель через формулу
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df[df['male']==0]).fit()
# Коэфициенты модели с округление
sleep_eq1.params.round(2)

Intercept    3468.20
totwrk         -0.15
age             1.65
smsa          -37.69
south         136.03
dtype: float64

In [58]:
df['y_pred']= 3468.20+(-0.15)*df['totwrk']+(1.65)*df['age']+(-37.69)*df['smsa']+(136.03)*df['south']
df['residual']=df['sleep']-df['y_pred']
df[df['male']==0]

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,y_pred,residual
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,0,3786,0,12,0,12,9.619998,900,2949.80,133.20
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,...,0,370,0,1,0,4,1.230000,529,3412.96,-117.96
27,35,0,28,1.000000,0.000000,12,6750,1,1,4904,...,0,2250,0,17,0,0,2.690000,1225,3150.76,-224.76
42,44,0,43,0.000000,0.000000,17,6750,1,1,4804,...,0,2511,0,21,0,0,2.159999,1936,3164.15,-399.15
55,24,0,56,0.000000,0.000000,14,1000,1,1,5490,...,1,1800,0,4,0,0,1.050000,576,3237.80,-447.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,...,0,2388,0,10,0,0,NaN,1024,3261.14,-276.14
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,0,2026,0,27,0,18,NaN,2025,3200.86,-215.86
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,0,1851,0,19,0,17,NaN,1369,3251.60,258.40
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1481,480,31,0,22,NaN,2916,3399.18,-429.18
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,8,1,9,NaN,900,3299.28,-329.28

In [59]:
TSS = np.sum((df[df['male']==0]['sleep']-df[df['male']==0]['sleep'].mean())**2 )
TSS

63490152.11764705

In [60]:
ESS = np.sum( (df[df['male']==0]['y_pred']-df[df['male']==0]['sleep'].mean())**2 )
ESS

6230695.611311767

In [61]:
RSS = np.sum( (df[df['male']==0]['y_pred']-df[df['male']==0]['sleep'])**2 )
RSS

57190496.78189999

In [62]:
R2=ESS/TSS
R2

0.09813641019108456

In [63]:
n = 306
m = 5
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

0.08615151198764381

In [64]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

435.8917875324172

## Задача 3.5

In [65]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

$$
output = \beta_0+\beta_1*capital+\beta_2*labour+\beta_3*wage
$$

In [66]:
# специфицируем модель через формулу
labour_eq = smf.ols(formula='output~capital+labour+wage', data=df).fit()
# Коэфициенты модели с округление
labour_eq.params.round(2)

Intercept   -16.75
capital       0.40
labour        0.05
wage          0.44
dtype: float64

In [67]:
df['y_pred']= -16.75+(0.40)*df['capital']+(0.05)*df['labour']+(0.44)*df['wage']
df['residual']=df['output']-df['y_pred']
df

       capital  labour     output       wage     y_pred  residual
0     2.606563     184   9.250759  43.080307  12.447961 -3.197202
1     1.323237      91   3.664310  27.780016   0.552502  3.111808
2    22.093692     426  28.781516  44.467748  32.953286 -4.171769
3    10.737851      72   4.124642  39.734710   8.628413 -4.503771
4     1.161365      46   2.890150  34.650709   1.260858  1.629292
..         ...     ...        ...        ...        ...       ...
564   2.625403      20   1.424376  33.477545   0.030281  1.394095
565   1.276386      61   2.109048  26.300732  -1.617124  3.726172
566   1.953869     117   6.241870  41.153979   7.989298 -1.747428
567   1.318527      46   7.902237  66.720139  15.434272 -7.532034
568   2.832391     161   6.804085  36.618435   8.545068 -1.740983

[569 rows x 6 columns]

In [68]:
TSS = np.sum((df['output']-df['output'].mean())**2 )
TSS

2235073.2947312016

In [69]:
ESS = np.sum( (df['y_pred']-df['output'].mean())**2 )
ESS

2222745.224599682

In [70]:
RSS = np.sum( (df['y_pred']-df['output'])**2 )
RSS

44840.70955868061

In [71]:
R2=ESS/TSS
R2

0.9944842658356747

In [72]:
n = 569
m = 4
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

0.9944549787516164

In [73]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

8.908652407321712

## Задача 3.6

$$
log(output) = \beta_0+\beta_1*log(capital)+\beta_2*log(labour)+\beta_3*log(wage)
$$

In [74]:
# специфицируем модель через формулу
labour_eq = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)', data=df).fit()
# Коэфициенты модели с округление
labour_eq.params.round(2)

Intercept         -5.01
np.log(capital)    0.15
np.log(labour)     0.72
np.log(wage)       0.92
dtype: float64

In [80]:
df['y_pred']= -5.01+(0.15)*np.log(df['capital'])+(0.72)*np.log(df['labour'])+(0.92)*np.log(df['wage'])
df['residual']=np.log(df['output'])-df['y_pred']
df

       capital  labour     output       wage    y_pred  residual
0     2.606563     184   9.250759  43.080307  2.350479 -0.125774
1     1.323237      91   3.664310  27.780016  1.338203 -0.039562
2    22.093692     426  28.781516  44.467748  3.304673  0.055060
3    10.737851      72   4.124642  39.734710  1.812913 -0.395934
4     1.161365      46   2.890150  34.650709  1.030754  0.030554
..         ...     ...        ...        ...       ...       ...
564   2.625403      20   1.424376  33.477545  0.521717 -0.167984
565   1.276386      61   2.109048  26.300732  0.994463 -0.248226
566   1.953869     117   6.241870  41.153979  1.939172 -0.107892
567   1.318527      46   7.902237  66.720139  1.652565  0.414581
568   2.832391     161   6.804085  36.618435  2.117287 -0.199764

[569 rows x 6 columns]

In [82]:
TSS = np.sum((np.log(df['output'])-np.log(df['output']).mean())**2 )
TSS

797.6674045328448

In [83]:
ESS = np.sum( (df['y_pred']-np.log(df['output']).mean())**2 )
ESS

708.9146434120719

In [85]:
RSS = np.sum( (df['y_pred']-np.log(df['output']))**2 )
RSS

89.06615655116076

In [86]:
R2=ESS/TSS
R2

0.8887346272187828

In [87]:
n = 569
m = 4
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

0.888143837628794

In [88]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

0.39703805250227314

## Задача 3.7

In [89]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
df

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

$$
cost = \beta_0+\beta_1*q+\beta_2*q^2+\beta_3*pk+\beta_4*pf+\beta_5*pl
$$

In [97]:
# специфицируем модель через формулу
cost_eq = smf.ols(formula='cost~q+q**2+pk+pf+pl', data=df).fit()
# Коэфициенты модели с округление
cost_eq.params.round(2)

Intercept   -84.56
q             0.01
pk            0.30
pf            1.07
pl            0.00
dtype: float64

In [119]:
df['y_pred']= -84.56+(0.01)*df['q']+(0.01)*df['q']**2+(0.19)*df['pk']+(1.07)*df['pf']+(0.0)*df['pl']
df['residual']=df['cost']-df['y_pred']
df

,cost,q,pl,sl,pk,sk,pf,sf,y_pred,residual
0,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512,-5.224045e+01,5.245345e+01
1,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057,7.511245e+03,-7.508202e+03
2,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542,1.991917e+04,-1.990976e+04
3,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916,-3.287100e+00,4.047700e+00
4,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606,8.442526e+02,-8.419939e+02
...,...,...,...,...,...,...,...,...,...,...
153,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203,8.948771e+03,-8.941942e+03
154,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609,1.390359e+03,-1.386599e+03
155,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151,1.510792e+03,-1.506810e+03
156,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147,2.827331e+05,-2.827029e+05
157,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945,2.316593e+06,-2.316525e+06

In [120]:
TSS = np.sum((df['cost']-df['cost'].mean())**2 )
TSS

1189954.2094165923

In [121]:
ESS = np.sum( (df['y_pred']-df['cost'].mean())**2 )
ESS

2.6464773991905868e+16

In [122]:
RSS = np.sum( (df['y_pred']-df['cost'])**2 )
RSS

2.646446312677642e+16

In [123]:
R2=ESS/TSS
R2

22240161665.448414

In [124]:
n = 158
m = 6
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

22971745930.726322

In [125]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

13195010.801230203

## Задача 3.8

$$
log(cost) = \beta_0+\beta_1*log(q)+\beta_2*(log(q))^2+\beta_3*log(pk)+\beta_4*log(pf)+\beta_5*log(pl)
$$

In [109]:
# специфицируем модель через формулу
cost_eq = smf.ols(formula='np.log(cost)~np.log(q)+(np.log(q))**2+np.log(pk)+np.log(pf)+np.log(pl)', data=df).fit()
# Коэфициенты модели с округление
cost_eq.params.round(2)

Intercept    -7.47
np.log(q)     0.84
np.log(pk)    0.19
np.log(pf)    0.71
np.log(pl)    0.04
dtype: float64

In [110]:
df['y_pred']= -7.47+(0.84)*np.log(df['q'])+(0.84)*np.log(df['q'])**2+(0.19)*np.log(df['pk'])+(0.71)*np.log(df['pf'])+(0.04)*np.log(df['pl'])
df['residual']=np.log(df['cost'])-df['y_pred']
df

,cost,q,pl,sl,pk,sk,pf,sf,y_pred,residual
0,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512,1.107486,-2.653949
1,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057,40.011515,-38.898769
2,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542,46.517666,-44.276329
3,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916,14.124091,-14.397739
4,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606,28.251812,-27.437022
...,...,...,...,...,...,...,...,...,...,...
153,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203,41.620604,-39.699382
154,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609,30.740437,-29.415885
155,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151,31.341304,-29.959469
156,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147,65.400160,-61.992716
157,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945,82.000280,-77.782889

In [111]:
TSS = np.sum((np.log(df['cost'])-np.log(df['cost']).mean())**2 )
TSS

373.66456079161424

In [112]:
ESS = np.sum( (df['y_pred']-np.log(df['cost']).mean())**2 )
ESS

658398.9555191312

In [113]:
RSS = np.sum( (df['y_pred']-np.log(df['cost']))**2 )
RSS

647489.2741752911

In [114]:
R2=ESS/TSS
R2

1762.005350799933

In [115]:
n = 158
m = 6
R2adj=1-(1-R2)*(n-1)/(n-m)
R2adj

1819.9331583920361

In [116]:
S2=RSS/(n-m)
SER=np.sqrt(S2)
SER

65.26712692019152